<app-header></app-header>

<div class="container-fluid mt-4">
    <div class="col-lg-12 mx-auto px-4">
        <div class="sub_head"><span>//</span> Deal Log</div>
        <div class="grid_bg">
        <div class="deallog ">
            <table >
                <thead>
                    <tr >
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2">Customer</th>
                        <!-- <th></th> -->
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Action</th>
                        <th>Messages</th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Age
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Deal Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                First Name
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Last Name
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Deal #
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Stock #
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Store
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               N / U
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Price
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Trade
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Trade Price
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Salesperson 1
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Salesperson 2
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                F&I Manager
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sales Manager
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Controller
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                         <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                            </div>
                        </th>
                        <th *ngFor="let g of tracStep">
                          <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{g.sTrackingsteps}}

                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">20</a>
                              <a class="dropdown-item" href="#">22</a>
                              <a class="dropdown-item" href="#">24</a>
                            </div>
                          </div>

                        </th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of dataFromService,let j=index">
                    <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                    <!-- <td>{{j+1}}</td> -->
                    <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"  data-toggle="modal" data-target="#exampleModalMessage"></td>
                    <td>{{i.age}}</td>
                    <td>{{i.contractdate|date:'MM.dd.YY'}}</td>
                    <td>{{i.custFname}}</td>
                    <td>{{i.custLname}}</td>
                    <td>{{i.dealno}}</td>
                    <td>{{i.stockno}}</td>
                    <td>{{i.store}}</td>
                    <td>{{i.dealtype}}</td>
                    <!-- deal type and trade interchanged-->
                    <td>{{i.price}}</td>
                    <td>{{i.trade}}</td>
                    <td>{{i.tradePrice}}</td>
                    <td>{{i.salesperson1}}</td>
                    <td>{{i.salesperson2}}</td>
                    <td>{{i.fimgr1}}</td>
                    <td>{{i.salesmgr}}</td>
                    <td>{{i.controller}}</td>
                    <td>2022-05-15</td>
                    <td>2022-05-15</td>
                    <td>2022-05-15</td>
                    <td>2022-05-15</td>
                    <td>2022-05-15</td>
                </tr>
                </tbody>

                 <!-- <tbody>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr  class="red-bg">
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr class="red-bg">
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr class="red-bg">
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>43</td>
                        <td>2022-05-15</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>2023556</td>
                        <td>1HUT553</td>
                        <td>Swickard Honda</td>
                        <td>N</td>
                        <td>$38,772.00</td>
                        <td>N</td>
                        <td>$120,000</td>
                        <td>K SMith</td>
                        <td>J.Jones</td>
                        <td>B.Holmes</td>
                        <td>S.Ride</td>
                        <td>K.SMith</td>
                        <td>2022-05-15</td>
                    </tr>

                </tbody> -->
                </table>

        </div>
    </div>
    </div>
</div>

<div class="col-12 d-flex justify-content-center" style="text-align:center">
  <button class="btn btn-primary" (click)="nextData()" [disabled]="disab">Next</button>
  <div *ngIf="pageStart>=20">
    <button class="btn btn-primary"  (click)="prevData()">Back</button>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////Modal///////////////////////////////////////////////////////////////////////////// -->


 <div class="modal fade" id="exampleModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header add_sett">
        <div class="header d-flex align-items-center">

        <h5 class="m-0 ms-2">
            <img src="" alt=""> <span class="slash">//</span>Message
        </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left:600px;">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      </div>

      <div class="modal-body">
        <div class="add_sett">
            <div class="cont d-flex flex-column align-items-center justify-content-center">
                <div class="container-fluid">
                  <div class="col-12 text-end">
                    <div class="d-flex justify-content-end align-items-center mb-3 mt-3 mr-3">
                        <span class="d-flex align-items-end" (click)="selectFile($event)">
                          <input type="file" style="display:none" (change)="selectFile($event)" #input >
      <!-- <button type="button"style="background-color:darkblue;color:white">Browse</button> -->
      <a (click)="input.click()"> <i   class="fa fa-paperclip" aria-hidden="true"></i>Attach</a></span>
                        <span class="d-flex align-items-end ps-4 pe-2"><a ><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid">Create Action</a></span>
                    </div>
                 </div>


                    <div class="row mb-3 ">
                        <div class="col-12">
                            <div class=" form-group set">
                                <label>To:</label>

                                <div  class="d-flex align-items-baseline" id="addInput" >

                                    <select  class="form-select" id=addInput2 [(ngModel)]="inputTo">

                                      <option *ngFor="let val of totalUserData" value={{val.uId}} >{{val.displayname}}</option>
                                    </select>

                                  </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col-12 set">
                            <label for="" class="form-label">CC:</label>

                            <select  class="form-select" id=addInput2 [(ngModel)]="inputCC">

                              <option *ngFor="let val of totalUserData" value={{val.uId}} >{{val.displayname}}</option>
                            </select>
                          </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-12 set">
                          <label for="" class="form-label">BCC:</label>
                          <select  class="form-select" id=addInput2 [(ngModel)]="inputBCC">

                            <option *ngFor="let val of totalUserData" value={{val.uId}} >{{val.displayname}}</option>
                          </select>
                        </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-12 set">
                        <label for="" class="form-label">From:</label>
                        <input type="text" class="form-control" [disabled]="true" [(ngModel)]="current_logged_in_user">
                      </div>
                </div>
                <div class="row mb-3">
                  <div class="col-12 set">
                      <label for="" class="form-label">Subject:</label>
                      <input type="text" class="form-control" [(ngModel)]="subject">
                    </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 set">

                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="messsageText"></textarea>
                  </div>
            </div>

                </div>
            </div>
        </div>
    </div>
      <div class="modal-footer">
        <div><button type="button" class="btn btn-primary" data-target="modal" data-dismiss="modal"  data-toggle="modal" data-target="#exampleModalAnotherMessage" (click)="sendMessage()" >Send</button></div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- ///// //////////////////////////////////////////////////////2nd Modal/////////////////////////////////////////////////-->
<div class="modal fade" id="exampleModalAnotherMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header add_sett">
        <div class="header d-flex align-items-center">

        <h5 class="m-0 ms-2">
            <img src="" alt=""> <span class="slash">//</span>Message
        </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left:600px;">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      </div>

      <div class="modal-body">
        <div class="add_sett">
            <div class="cont d-flex flex-column align-items-center justify-content-center">
                <div class="container-fluid">
                <div class="row mb-3">
                  <div class="col-12 set">
                    <h2>Your Message hass been sent</h2>

                  </div>


                </div>
                <div class="row mb-3">
                  <div class="col-12 align-items-center">
                    <button type="button" class="btn btn-primary ml-3" data-dismiss="modal"  data-toggle="modal" data-target="#exampleModalMessage" (click)="sendMessage()" >Send Another Message</button>

                  </div>

                </div>
                <div class="row mb-3">
                  <div class="col-12">
                    <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cancel</button>
                  </div>

                </div>


              </div>


                </div>
            </div>
        </div>
    </div>

    </div>
  </div>








